#clockContainer{
    position: relative; 
    margin: auto;
    background: url(clock.png) no-repeat;
    width: 40vw;
    height: 40vw;
    background-size: 100%;
}
#hour , #minute , #second {
    position: absolute;
    background: black;
    border-radius: 10px;
    transform-origin: bottom;
}
#hour {
    width: 2%;
    height: 25%;
    top: 25%;
    left: 48.8%;
}
#minute {
    width: 1.5%;
    height: 33%;
    top: 17%;
    left: 48.8%;
    opacity: 0.8;
}
#second {
    width: 1%;
    height: 36%;
    top: 15%;
    left: 49.2%;
    opacity: 0.8;
   
}

